body {
    background-color: white;
    font-family: "Lucida Grande", Verdana, sans-serif;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0.5em 0;
}

p {
    margin: 1em 0;
}

h2 {
    font-size: 1.6em;
}

h2 img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

h2 span {
    vertical-align: middle;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#header {
    height: 60px;
    background: #ddd url(../images/header-bg.png) repeat-x;
    border-bottom: 1px solid #ccc;
}

#header h1 {
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.3em;
    text-shadow: 1px 1px #f0f0f0;    
    margin: 10px 0;
    float: left;
}

#header h1 a {
    color: #168;
    text-decoration: none;
}

#session-items {
    float: right;
    color: #444;
    font-size: 0.8em;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#session-items span {
    padding: 0 7px 0 5px;
    border-right: 1px solid #888;
}

#session-items span:last-child {
    border-right: none;
}

#session-items span a {
    color: #168;
    text-shadow: 1px 1px #fdfdfd;
    text-decoration: none;    
}

#feature {
    clear: both;
    background-color: #f6f6f6;
}

#main {
    clear: both;
}

#footer {
    margin-top: 20px;
}

#footer p {
    text-align: center;
    color: #666;
    font-size: 0.8em;
}

a.button {
    display: inline-block;
    margin: 0.5em 0;
    padding: 5px 8px;
    color: white;
    text-decoration: none;
    background-color: #681;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 6px;
}

a.button:hover {
    background-color: #791;
}

ul.resource-list {
    margin-top: 10px;
}

ul.resource-list li {
    list-style: none;    
}

.resource-list-item {
    border: 1px solid #f2efef;
    min-height: 56px;
    clear: both;
    background-color: #faf6f6;
    margin: 10px 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 6px;
}

.resource-list-item .icon {
    float: left;
    margin: 4px;
}

.resource-list-item .icon img {
    width: 48px;
    height: 48px;
}

.resource-list-item .info {
    margin-left: 64px;
}

.resource-list-item .info h4 {
    margin-top: 5px;
}

.resource-list-item .info h4 a {
    color: #168;
    text-decoration: none;
}

.resource-list-item .info p {
    margin-right: 5px;
    font-size: 0.8em;
}

.flash {
    font-size: 0.9em;
    margin: 10px 0;
    padding: 10px;
}

.error-message, .alert-message {
    color: #8a1f11;
    background-color: #fbe3e4;
    border: 2px solid #fbc2c4;
}

.notice-message {
    color: #514721;
    background-color: #fff6bf;
    border: 2px solid #ffd324;
}

.success-message {
    color: #264409;
    background-color: #e6efc2;
    border: 2px solid #c6d880;    
}

.form-validation-error {
    font-size: 0.9em;
    margin: 10px 0;
}

.form-validation-error p {
    margin: 5px;
}

.form-validation-error ul {
    margin: 10px 5px 5px 15px;
    list-style: disc inside none;
}

.field_with_errors {
    display: inline;
}