<div class="field">
  <%= f.label :file %><br />
  <%= f.file_field :file %>
</div>
<div class="field">
  <%= f.label :note %><br />
  <%= f.text_field :note %>
  <small>An optional note about this revision.</small>
</div>